
<nav class="navbar navbar-expand-sm">
    <ul class="navbar-nav myNav">
        <li class="nav-item">
            <a class="nav-link" href="/Home/Index">Trang chủ</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/allSP/Index">Cửa hàng</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Home/Index">Kho tài liệu free</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Home/Index">Bài viết</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Home/Index">Video</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Home/Index">Giới thiệu</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Home/Index">Hướng dẫn mua hàng</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Home/Index">Liên hệ</a>
        </li>
    </ul>
</nav>

